*{
  margin: 0;
  padding: 0;
}


.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #141414;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  color: rgb(221, 221, 221);
  font-size: 24px;
}

.digital-clock {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.countdown {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#stopwatch {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.div-span{
  display: flex;
  justify-content: center;
}

.div-buttons{
  display: flex;
  justify-content: center;
}
